<mat-card>
    <mat-card-header>
        <h1>User Registration</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerform" (ngSubmit)="proceedRegistration(registerform.value)">
            <mat-form-field class="example-full-width form-group">
                <mat-label>User Name</mat-label>
                <input matInput class="form-control" formControlName="id">
            </mat-form-field>
            <mat-form-field class="example-full-width form-group">
                <mat-label>Name</mat-label>
                <input matInput class="form-control" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width form-group">
                <mat-label>Password</mat-label>
                <input type="password" matInput class="form-control" formControlName="password">
            </mat-form-field>
            <mat-form-field class="example-full-width form-group">
                <mat-label>Email</mat-label>
                <input matInput class="form-control" formControlName="email">
            </mat-form-field>
            <div>
                <mat-radio-group formControlName="gender" aria-label="Gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <a type="Submit" mat-raised-button color="primary">Submit</a>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>